<%= form_with(model: @task, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :title, '件名(12文字以下)' %>
      <%= f.text_field :title ,class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content, '内容&関連情報' %>
      <%= f.text_area :content, rows: 5 ,class: 'form-control' %>
      <font size='1' color='#999999'>※例：(課題提出先：佐藤教授(A999室,〆切2/2(月))</font>
    </div>
    <div class="form-group">
      <%= f.label :start_on, '開始日' %>
      <%= f.date_select :start_on ,class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :start_at, '開始時刻' %>
      <%= f.time_select :start_at ,class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :end_on, '終了日' %>
      <%= f.date_select :end_on ,class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :end_at, '終了時刻' %>
      <%= f.time_select :end_at ,class: 'form-control' %>
    </div>
    <%= f.hidden_field :week_day_index,multiple: true,:value => '通常タスク' %>
    <!--エラー防止-->
    <%= f.submit 'Add', class: 'btn btn-primary btn-block'%>
  <% end %>
  
