<% if task.status =='custom' %>
  <% border_color = 'warning' %>
<% elsif task.status == 'done'%>
  <% border_color = 'success' %>
<% else %>
  <% border_color = 'danger' %>
<% end %>


<% if current_page?(tasks_path) %>
<!--task一覧ページでのカードの表記-->

<div class="card linkbox border-<%= border_color %>" style="margin: 25px ;padding: 15px">
  <a href="/tasks/<%= task.id %>"></a>
  <div class="row">
    <div class="col-9">
      <%= task.start_at.strftime("%H:%M") %>~<%= task.end_at.strftime("%H:%M") %>
      <br>
      <%= task.title %>
    </div>
    <div class="col-2">
      <% if task.status != 'custom' %>
        <% if task.status == 'done' %>
          <%= form_with(model: task, local: true) do |f| %>
            <%= f.hidden_field :status, :value => "not_done" %>
            <%= f.hidden_field :week_day_index,multiple: true,:value => '通常タスク' %>
            <!--エラー防止-->
            <%= f.submit 'done', class: 'btn btn-success btn-sm'%>
          <% end %>
        <% else %>
          <%= form_with(model: task, local: true) do |f| %>
            <%= f.hidden_field :status, :value => "done" %>
            <%= f.hidden_field :week_day_index,multiple: true,:value => '通常タスク' %>
            <!--エラー防止-->
            <%= f.submit 'not_done', class: 'btn btn-danger btn-sm'%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% else %>
<!--それ以外のページでのカードの表記-->

<div class="card linkbox border-<%= border_color %>" style="margin: 25px ;padding: 15px">
  <a href="/tasks/<%= task.id %>"></a>
  <div class="row">
    <div class="col-11">
      <%= task.start_at.strftime("%H:%M") %>~<%= task.end_at.strftime("%H:%M") %>
      <br>
      <%= task.title %>
    </div>
  </div>
</div>


  
<% end %>