<% previous_month = nil %>
<% previous_day = nil %>
<% tasks.each do |task| %>
  <% if (task.start_date.day != previous_day)||(task.start_date.month != previous_month) %>
    <h4><%= task.start_date.strftime("%Y-%m-%d (%A)") %></h4>
  <% end %>
  <% if task.status != 'custom' %>
    <div class="card" style="margin: 25px ;padding: 15px">
      <table>
        <tr>
          <td>
            <%= task.start_date.strftime("%H:%M") %>~<%= task.end_date.strftime("%H:%M") %>
          </td>
          <td><%=link_to task.title, task %></td>
          <td>
             <!--タスク達成・未達成ボタン-->
          </td>
          <td>
            <%= link_to 'edit', edit_task_path(task.id) ,class: 'btn btn-success btn-sm'%>
          </td>
          <td>
            <%= link_to 'delete', task, method: :delete, data: { confirm: 'You sure?' } ,class: 'btn btn-danger btn-sm'%>
          </td>
        </tr>
      </table>
    </div>
    <% previous_month = task.start_date.month %>
    <% previous_day = task.start_date.day %>
  <% end %>
<% end %>