<% previous_datetime = now.beginning_of_day %>
<!--00:00に合わせる-->
<% today_month = now.month %>
<% today_day = now.day %>
<h4><%= now.strftime("%Y-%m-%d (%A)") %></h4>
<% tasks.each do |task| %>
  <% if (task.start_date.day == today_day)&&(task.start_date.month == today_month) %>
    <% if previous_datetime != task.start_date %>
      <% free_time = ( ( task.start_date - previous_datetime ) / 60 ).round # 四捨五入 %>
      <% free_time_hour = ( free_time / 60 ).floor # 切り捨て %>
      <% free_time_minute = free_time % 60 %>
      <div class="card" style="margin: 25px ;padding: 15px">
        <p>空き時間　　　<%= free_time_hour %>時間<%= free_time_minute %>分</p>
      </div>
    <% end %>
    <div class="card" style="margin: 25px ;padding: 15px">
      <table>
        <tr>
          <td>
            <%= task.start_date.strftime("%H:%M") %>~<%= task.end_date.strftime("%H:%M") %>
          </td>
          <td><%=link_to task.title, task %></td>
          <td>
             <!--タスク達成・未達成ボタン-->
          </td>
          <td>
            <%= link_to 'edit', edit_task_path(task.id) ,class: 'btn btn-success btn-sm'%>
          </td>
          <td>
            <%= link_to 'delete', task, method: :delete, data: { confirm: 'You sure?' } ,class: 'btn btn-danger btn-sm'%>
          </td>
        </tr>
      </table>
    </div>
    <% previous_datetime = task.end_date %>
  <% end %>
<% end %>