<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-5">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tasklist</h4>
        </div>
        <div class="card-body">
          <!--ユーザーの目標を記入する欄-->
        </div>
      </div>
      <%= link_to '新規タスクの追加', new_task_path %>
      <!-- render '../..', ..: @.. -->
      <!--ボタンを押すとtask新規作成画面に移行する-->
    </aside>
    <div class="col-sm-7">
      <%= render 'tasks/tasks_navbar' %>
      <%= render 'tasks/tasks', tasks: @tasks%>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Story-Tasklist</h1>
      <p>~ A service dedicated to those who love all stories ~</p>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Login!', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>