<div class="row">
  <aside class="col-md-5" style="margin:0px 0px 25px 0px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= @task.title %></h4>
      </div>
      <div class="card-body">
        <% if @task.content != '' %>
          <div style="margin:0px 0px 25px 0px">
            <font size='2' color='#999999'>内容＆関連情報</font>
            <br><%= @task.content %>
          </div>
        <% end %>
        <font size='2' color='#999999'>タスク実行時間</font><br>
        <% if @task.status == 'custom' %>
          (<%= @task.week_day_index %>)曜日
          <%= @task.start_at.strftime("開始:%H時%M分") %>
          <br>
          <%= @task.end_at.strftime("終了:%H時%M分") %>
        <% else %>
          <%= @task.start_on.strftime("開始:%Y年%m月%d日") %><%= @task.start_at.strftime("%H時%M分") %>
          <br>
          <%= @task.start_on.strftime("終了:%Y年%m月%d日") %><%= @task.end_at.strftime("%H時%M分") %>
        <% end %>
        <div style="padding: 5px 0px 5px 0px">
          <div class="text-right">
          <%= link_to '編集', edit_task_path(@task) ,class: 'btn btn-success btn-sm'%>
          <%= link_to '消去', @task, method: :delete, data: { confirm: 'You sure?' } ,class: 'btn btn-danger btn-sm'%>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="col-md-7">
    <%= render 'tasks/tasks_navbar' %>
  </div>
</div>

