<div class="row">
  <aside class="col-sm-5">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= @task.title %></h4>
      </div>
      <div class="card-body">
        <font size='2' color='#999999'>内容＆関連情報</font>
        <br>
        <font size='1' color='#999999'>※例：(課題提出先：佐藤教授(A999室,〆切2/2(月))</font>
        <br>
        <%= @task.content %>
        <br>
        <br>
        <font size='2' color='#999999'>タスク実行日時</font>
        <br>
        <%= @task.start_date.strftime("%Y-%m-%d %H:%M") %>~
        <br>
        <%= @task.end_date.strftime("%Y-%m-%d %H:%M") %>
        <table>
          <tr>
            <td><%= link_to 'edit', edit_task_path(@task) ,class: 'btn btn-success btn-sm'%></td>
            <td><%= link_to 'delete', @task, method: :delete, data: { confirm: 'You sure?' } ,class: 'btn btn-danger btn-sm'%></td>
          </tr>
        </table>
      </div>
    </div>
  </aside>
  <div class="col-sm-7">
    <%= week_calendar events: @tasks do |date, tasks| %>
      <%= date.day %>
      <% tasks.each do |task| %>
        <div>
          <font size="2" color="#444444">
            <%= task.start_date.strftime("%H:%M") %>
            <br>~<%= task.end_date.strftime("%H:%M") %>
            <br><%= link_to task.title, task %>
          </font>
        </div>
      <% end %>
    <% end %>
  </div>
</div>