<%= form_with(model: @story, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :title, 'タイトル(30字以下)' %>
      <%= f.text_field :title ,class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content, '内容&関連情報' %>
      <%= f.text_area :content, rows: 5 ,class: 'form-control' %>
    </div>
    <div class="field" style="margin:0px 0px 25px 0px">
      <%= f.label :card_color, 'カードの色' %>
      <%= f.select :card_color, {'赤': 'danger', '黄': 'warning','緑': 'success', '青': 'primary', '黒': 'dark'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
    <%= f.hidden_field :status, :value => "unread" %>
    <%= f.submit 'Add', class: 'btn btn-primary btn-block'%>
<% end %>
