<% if current_page?(stories_path) %>
<!--story一覧ページでのカードの表記-->

  <div class="card linkbox border-<%= story.card_color %>" style="margin: 25px ; padding: 15px">
    <div class="row">
      <div class="col-9">
        <table>
          <tr>
            <td align="left"><%= story.title %></td>
            <td align="right">
              <% if story.favorite_score == '1' %>
                ☆１
              <% elsif story.favorite_score == '2' %>
                ☆２
              <% elsif story.favorite_score == '3' %>
                ☆３
              <% else %>
                ☆０
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <a href="/stories/<%= story.id %>"></a>
      <div class="col-1">
        <!--鑑賞済or未鑑賞-->
        <% if story.status == 'read' %>
          <%= form_with(model: story, local: true) do |f| %>
            <%= f.hidden_field :status, :value => "unread" %>
            <%= f.submit '鑑賞済', class: 'btn btn-success btn-sm'%>
          <% end %>
        <% else %>
          <%= form_with(model: story, local: true) do |f| %>
            <%= f.hidden_field :status, :value => "read" %>
            <%= f.submit '未鑑賞', class: 'btn btn-danger btn-sm'%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  
<% else %>
<!--それ以外のページでのカードの表記-->


  <div class="card linkbox border-<%= story.card_color %>" style="margin: 25px ; padding: 15px">
    <a href="/stories/<%= story.id %>"></a>
      <table>
        <tr>
          <td align="left"><%= story.title %></td>
          <td align="right">
            <% if story.favorite_score == '1' %>
              ☆１
            <% elsif story.favorite_score == '2' %>
              ☆２
            <% elsif story.favorite_score == '3' %>
              ☆３
            <% else %>
              ☆０
            <% end %>
          </td>
        </tr>
      </table>
  </div>
  
  
<% end %>
